.button {
    color: white;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
    max-height: 60px;
    min-width: max-content;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
    cursor: pointer;
}